[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pipenv-to-requirements = "*"
jsonschema = "*"
pylint = "*"
pytest-mypy = "*"
pytest-cov = "*"
pytest-xdist = "*"
flake8 = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
black = "*"
python-jsonschema-objects = "*"
codecov = "*"

[packages]
jsonschema = "*"
metafoam = {editable = true,path = "."}

[requires]
python_version = "3"
